.row>*{
  padding-left: 0px;
  padding-right: 0px;
}
.shadow2 {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  margin-left: 10px;
}
.error-block{
  color: red;
}
.ng-invalid.ng-touched{
  border-color: red;
}
