<!-- Reactive Forms -->

<div class="card shadow">
  <div class="card-header bg-primary text-white">
     Register
  </div>
  <div class="card-body ">
    <form (submit)="onSubmit()" [formGroup]="form" >
      <div class="form-group col-12 mt-2">
        <label for="name">Name</label>
        <input type="text" class="form-control "  formControlName="userName" >

        <span class="error-block" *ngIf="!userName.valid && (userName.touched || userSubmit)" >
          <i class="bi bi-exclamation-circle-fill" ></i>
          <span *ngIf="userName.errors?.['required']" > Please Enter valid Name
          </span>

          <span *ngIf="userName.errors?.['minlength']" > Name must be at least 3 char
          </span>

        </span>
      </div>

      <div class="form-group col-12 mt-4 ">
        <label for="Email">Email</label>
        <input type="email" class="form-control"  formControlName="Email" >
        <span class="error-block" *ngIf="!Email.valid && (Email.touched || userSubmit)" >
          <i class="bi bi-exclamation-circle-fill" ></i>
          <span *ngIf="Email.errors?.['required']" > Please Enter your email
          </span>

          <span *ngIf="Email.errors?.['email']" > Please Enter valid email
          </span>

        </span>
      </div>

      <div class="row">
        <div class="form-group col-6 mt-4">
          <label for="Password">Password</label>
          <input type="password" class="form-control"  formControlName="Password" >

          <span class="error-block" *ngIf="!Password.valid && (Password.touched || userSubmit)" >
            <i class="bi bi-exclamation-circle-fill" ></i>
            <span *ngIf="Password.errors?.['required']" > Please Enter valid Password
            </span>
            <span *ngIf="Password.errors?.['minlength']" > Password must be more than 5
            </span>

          </span>
        </div>

        <div class="form-group col-6 mt-4">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control"  formControlName="confirmPassword" >

          <span class="error-block" *ngIf="!form.valid && (confirmPassword.touched || userSubmit)" >
            <i class="bi bi-exclamation-circle-fill" ></i>
            <span *ngIf="confirmPassword.errors?.['required']" > Please Confirm your Password
            </span>

            <span *ngIf="form.errors?.['notMatched'] && !confirmPassword.errors?.['required']" > Password not match
            </span>

          </span>
        </div>
    </div>


      <div class="form-group col-12 mt-4">
        <label for="Mobile">Mobile</label>
        <input type="number" class="form-control"  formControlName="Mobile" >
        <span class="error-block" *ngIf="!Mobile.valid && (Mobile.touched || userSubmit)" >
          <i class="bi bi-exclamation-circle-fill" ></i>

          <span *ngIf="Mobile.errors?.['required']" > Please Enter your number
          </span>
          <span *ngIf="Mobile.errors?.['pattern']" > Mobile number must be 11 number
          </span>
        </span>
      </div>

      <div class="form-group col-12 mt-4 text-center">

        <!-- <button [disabled]="!form.valid" type="submit" class="btn btn-primary m-4">Save</button> -->
        <button  type="submit" class="btn btn-primary m-4">Save</button>

        <button type="reset" class="btn btn-secondary">Cancel</button>

      </div>
    </form>
  </div>

</div>
